<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>DDFSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bd9462">  <td>17/12/08 16:57:09</td>   <td>0</td> <td title="&gt;&gt;BaseClass.beforeSuite(java.lang.String, java.lang.String)[pri:0, instance:org.neosoft.test.LoginPage_Test@1e397ed7]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@329645619</td>   <td></td> </tr>
<tr bgcolor="bd9462">  <td>17/12/08 16:57:09</td>   <td>826</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.beforeMethod()[pri:0, instance:org.neosoft.test.LoginPage_Test@1e397ed7]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@329645619</td>   <td></td> </tr>
<tr bgcolor="efea79">  <td>17/12/08 16:57:09</td>   <td>826</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPage_Test.Login_Admin()[pri:0, instance:org.neosoft.test.LoginPage_Test@1e397ed7]">Login_Admin</td> 
  <td>main@329645619</td>   <td></td> </tr>
<tr bgcolor="bd9462">  <td>17/12/08 16:58:05</td>   <td>56356</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.afterMethod(org.testng.ITestResult)[pri:0, instance:org.neosoft.test.LoginPage_Test@1e397ed7]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@329645619</td>   <td></td> </tr>
<tr bgcolor="bd9462">  <td>17/12/08 16:58:05</td>   <td>56653</td> <td title="&lt;&lt;BaseClass.afterSuite()[pri:0, instance:org.neosoft.test.LoginPage_Test@1e397ed7]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@329645619</td>   <td></td> </tr>
</table>
